@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: rgb(54, 35, 224);
  }

  header {
    grid-area: he;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  

}

  .container {
      display: grid;
      grid-template-columns: repeat(8, 1fr);                        /*          8 columans, 1 fracc. c/u           */
      grid-template-rows: 100px 1fr 1fr 1fr 1fr 200px;              /*          Header, filas, footer              */
      gap: 5px;
      grid-template-areas: 
      "he he he he he he he he"
      ". ma ma ma ma ma ma ."
      ". ma ma ma ma ma ma ."
      ". ma ma ma ma ma ma ."
      ". . . . . . . ."
      "fo fo fo fo fo fo fo fo"
      
      ;
  }

  main {
      grid-area: ma;
      background-color: rgb(127, 213, 235);
      display: flex;
      flex-wrap: wrap;
  }


  nav li {
      width: 100%;
  }

  ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 40vw;
    
  }
section {

    border-radius: 7px;
    height: 30vh;
    width: 20vw;                                    /*          Afecta el espacio que ocupan las SECCIONES dentro del GRID          */
    border: solid rgb(54, 35, 224);
    text-align: center;
    margin: .5rem;
}

header a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: white;
}


footer {
    grid-area: fo;
    background-color: rgb(24, 20, 18);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

a:hover {
    color: blanchedalmond;
}
